// Every page should have a class on the body
// Scope that in each file at the start
.mw_home {
	ul{
		list-style-type: none;
	}
	background: black;
	.navigation{
		span[data-ur-tabs-component='button']{
			position:relative;
			display: block;
			background: black;
			color: $category_color_1;
			width: 100%;
			border-bottom-style: ridge;
			padding: 5px;
			font-weight: bold;
		}
		

		.category-title{
		border-bottom-style: ridge;
		font-weight: bold;
		color:$category_color_1;
		}
		.subcat-title{
			color:$category_color_1;
		}

		
	//An attempt to remove the broken ALT on the page
	//That is on the promo items.

	//.bottom-promo{alt=""}
}
}




