// Every page should have a class on the body
// Scope that in each file at the start
.mw_home {
	ul{
		list-style-type: none;
	}
	background: black;

	.navigation{
		// span[data-ur-tabs-component='button']{
		// 	position:relative;
		// 	display: block;
		// 	background: $bg_box;
		// 	border-style: solid;
		// 	color: $category_color_1;
		// 	width: 100%;
		// 	border-bottom-style: none;
		// 	padding: 5px;
		// 	font-weight: bold;
		// 	border-width: 2px;
		// }
		
		// .category-title{
		// border-bottom-style: ridge;
		// font-weight: bold;
		// color:$category_color_1;
		// }

		.category-title{
			position:relative;
			display: block;
			background: $bg_box;
			border-style: solid;
			color: $category_color_1;
			width: 100%;
			border-bottom-style: none;
			padding: 5px;
			font-weight: bold;
			border-width: 2px;
		}

		.subcat-title{
			color:$category_color_1;
			background-color: white;
			display:block;
			padding: 5px;
			border-style:solid;
			border-width: 2px;
		}

		
	//An attempt to remove the broken ALT on the page
	//That is on the promo items.

	//.bottom-promo{alt=""}
}
}




