//This is a specific page for the
//http://mlocal.alexanderwang.com/shop/accessories/bags/classics/205160/
//bag

.mw_item{
background: black;
margin-bottom: 0;

.variant-image img{
	height:  100px;
	width: 100px;
}


#product-left
	{	
		color:white;
	}



	#product-right
	{
		div.product-information
		{
			color:white;
		}
		
	}


}