
// Vertical Rhythm
$base-font-size: 13px;
$base-line-height: 24px;
@include establish-baseline();



$category_color_1: #737373; // Category Color 
$link_color: #336699; //the colors they use as defaults to their links



//Trial default//
$mw_default_border: #333333;