#mw_footer {

ul{
    list-style-type: none;
  }
    //Background color
 background: black;
 margin-top: none;
}

.icon-twitter-sign{
color: $link_color;
font-size: 25px;
}

.icon-facebook-sign{
color: $link_color;
font-size: 25px;
}

.icon-envelope-alt{
color: $link_color;
font-size: 25px;
}
