#mw_header {
//removing the bullets in unordered lists.
ul{
    list-style-type: none;
  }
  //Background color
 background: black;


.logo img {
  //width: 140px;
  //height: 20px;
  //display: block;
  //margin: 16px 0 0px 10px;
  //position:fixed;
  top: 50%;
  left: 50%;
  padding-bottom: 10px;
  
}
.selectedCountry{
  color:white;
  font-size: 10px;
}



.action-set .link a{
  color: white;
}
.action-set {
  color: white;
  display: -webkit-flex;
  webkit-flex-direction:row;
justify-content: space-around;
  flex-flow: row wrap;
  flex: 4;
}

//Making the links in the header into buttons
.action-set li{
  border-style: outset;
  padding: 10px;
}


//Here we will edit the properties of the icons used in CSS as they are fonts

//The Shopping cart
.icon-shopping-cart{
  color:$link_color;
  font-size:25px;
}
.icon-globe{
color: $link_color;
font-size: 25px;
}
.icon-gift{
color: $link_color;
font-size: 25px;
}
.icon-check-sign{
color: $link_color;
font-size: 25px;
}
.icon-user{
color: $link_color;
font-size: 25px;
}

//Menu Icon
.icon-th-list{
color: $link_color;
font-size: 25px;
}





//.mw_header.a.logo{
  //   background:  url("http://jscssecaw.ctscdn.com/content/images/logo.png");
   //}


.botom-promo-item{
//	ALT="NONE"
//This is an attempt to remove the broken ALT Style on Alexanderwang.
  }

  

.navigation{



	span[data-ur-tabs-component='button']{
		position:relative;
		display: block;
		background: black;
		color: $category_color_1;
		width: 100%;
		border-bottom-style: ridge;
		padding: 5px;
		font-weight: bold;
	}
	.category-title{
color:white;
	}
	.subcat-title{
		color:$category_color_1;
	}

						}//navigation end

} //main end bracket




 /*
 ATTEMPTINT TO BLOCK OUT THE BOTTOM

//  background: white;
  //a and span are the clickable rows
  //
  
  a, span {
    //color: $category_color_1;
    display: block;
    padding: 5px;
    width: 100%;
  }
li.category{
	//ul{
	//list-style-type: none;
	//	}
	span[data-ur-tabs-component='button']{
		position:relative;
		display: block;
		background: black;
		color: $category_color_1;
		width: 100%;
	}
}
}




/* Examples from Coast Stores - buttons.
  li.level_1 {
    span[data-ur-tabs-component='button'] {
      position: relative;
      color: $category_color_1;
      display: block;
      text-transform: uppercase;
      border-bottom: 1px solid $mw_default_border;
      &:after {
       // @include toggler_down;
      }
      &[data-ur-state='enabled'] {
        &:after {
          @include transform(rotate(180deg));
        }
      }
    }


     
    
    ul.level_2 {
     // background-color: $mw_list_background;
      //border: 1px solid $mw_list_border;
      padding:0 10px;
      li+li.level_2{
       // border-top: 1px dotted $mw_list_border;
      }
      li.level_2 {
        a {
          &:after {
          //  @include toggler_right;
          }
        }
      }
    }
  }

  li.mw_bottom span {
    border-bottom: 0px solid red  !important;
  }
}

/*
.navigation_container{
  z-index: 998;
  position: absolute;
  width: 100%;
  background: white;
  top: 40px;
	}
*/
