// Reset file for standardizing the page
// @import "globals/_reset";

// Base file contains all the global styles
@import "globals/_base";

// File for global Uranium stylings
@import "globals/_uranium.scss";

// Site wide variables
@import "globals/_variables.scss";

// Header & Footer
@import "sections/_header";
@import "sections/_footer";

// Pages
@import "pages/_home";



  div#sub_navigation #filter, div#sub_navigation #sortby_mw, div#sub_navigation #mw_suggestions, div#sub_navigation #mw_popular {
    z-index: 800;
    margin: 0 4px;
    border: 1px solid gray;
    color: #535353;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: white;
    letter-spacing: 0.01em;
    font-stretch: semi-expanded;
    position: absolute;
    right: 0px;
    width: 46%; }
