/*
    vertical-rhythmic
    
    Version : 0.3.1
    Original Author  : Aurélien Delogu (dev@dreamysource.fr)
    Additional Author: Jeff Patzer (jeff@patzer.us)
    License : MIT
*/
/*
    number $base-font-size: base font-size which will be applied to the body (default: 1em)
*/
/*
    number $base-line-height: base line-height which will be applied to the body (default: 1.5em)
*/
/*
    Adjust a unit to be relative if in PX to allow for arithmetic
*/
/*
    Initialize the rhythm
*/
/*
    Return a rhythm

    Parameters
        integer $lines      : number of whitespace lines (default: 1)
                              You can specify "auto" value and it will generate a proportional value from the base line-height (especially useful when you want to set a good line-height value)
        number $font-size   : font size, in ems
*/
/*
    Return a rhythm from pixel unit

    Parameters
        integer $width      : width of the rhythm (without px unit)
        number $font-size   : font size, in ems
*/
/*
    Set a new font-size and automatically adapt the line-height

    Parameters
        number $font-size   : font size, in ems
        integer $lines      : number of whitespace lines for the line-height
                              Keeps base line proportions by default
*/
/*
    Add a margin around a box

    Parameters
        integer $lines          : number of whitespace lines (default: 1)
        number $font-size       : actual font-size, in ems, to calculate with (default: 1em)
        integer $border-width   : width of additionnal borders around the box
                                  Useful to substract borders from the whitespace to not break the rhythm
*/
/*
    Add a top margin to a box

    Parameters
        integer $lines          : number of whitespace lines (default: 1)
        number $font-size       : actual font-size, in ems, to calculate with (default: 1em)
        integer $border-width   : width of additionnal borders around the box
                                  Useful to substract borders from the whitespace to not break the rhythm
*/
/*
    Add a bottom margin to a box

    Parameters
        integer $lines          : number of whitespace lines (default: 1)
        number $font-size       : actual font-size, in ems, to calculate with (default: 1em)
        integer $border-width   : width of additionnal borders around the box
                                  Useful to substract borders from the whitespace to not break the rhythm
*/
/*
    Add a padding around a box

    Parameters
        integer $lines          : number of whitespace lines (default: 1)
        number $font-size       : actual font-size, in ems, to calculate with (default: 1em)
        integer $border-width   : width of additionnal borders around the box
                                  Useful to substract borders from the whitespace to not break the rhythm
*/
/*
    Add a top padding to a box

    Parameters
        integer $lines          : number of whitespace lines (default: 1)
        number $font-size       : actual font-size, in ems, to calculate with (default: 1em)
        integer $border-width   : width of additionnal borders around the box
                                  Useful to substract borders from the whitespace to not break the rhythm
*/
/*
    Add a bottom padding to a box

    Parameters
        integer $lines          : number of whitespace lines (default: 1)
        number $font-size       : actual font-size, in ems, to calculate with (default: 1em)
        integer $border-width   : width of additionnal borders around the box
                                  Useful to substract borders from the whitespace to not break the rhythm
*/
/*
    Add a top border around a box

    Parameters
        string $color       : color
        number $font-size   : font-size of the box (in em)
        integer $width      : border width
                              It quite equals to pixels but it depends on the base font-size of the browser, so it takes no unit
        string $type        : border type
*/
/*
    Add a top border to a box

    Parameters
        string $color       : color
        number $font-size   : font-size of the box (in em)
        integer $width      : border width
                              It quite equals to pixels but it depends on the base font-size of the browser, so it takes no unit
        string $type        : border type
*/
/*
    Add a bottom border to a box

    Parameters
        string $color       : color
        number $font-size   : font-size of the box (in em)
        integer $width      : border width
                              It quite equals to pixels but it depends on the base font-size of the browser, so it takes no unit
        string $type        : border type
*/
/*
    Add an outline around a box

    Parameters
        string $color       : color
        number $font-size   : font-size of the box (in em)
        integer $width      : border width
                              It quite equals to pixels but it depends on the base font-size of the browser, so it takes no unit
        string $type        : outline type
*/
/* line 7, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_base.scss */
html {
  height: 100%;
  overflow: auto !important; }

/* line 12, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_base.scss */
body {
  -webkit-text-size-adjust: none;
  background: white;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Verdana;
  position: relative;
  min-height: 100%;
  padding: 0px !important; }

/* line 22, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_base.scss */
a {
  color: #336699;
  text-decoration: none;
  word-wrap: break-word; }

/* line 28, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_base.scss */
a, a:link {
  -webkit-tap-highlight-color: rgba(225, 244, 204, 0.5); }

/* line 32, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_base.scss */
img {
  max-width: 100%; }

/* line 36, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_base.scss */
input[type="number"]::-webkit-outer-spin-button {
  display: none; }

/*  #######################################
    ####### URANIUM WIDGET STYLING ########
    #######################################  */
/* line 6, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
[data-ur-toggler-component="content"] {
  display: none; }
  /* line 8, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
  [data-ur-toggler-component="content"]:not([data-ur-state]) {
    display: none; }
  /* line 11, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
  [data-ur-toggler-component="content"][data-ur-state="enabled"] {
    display: block; }

/* line 17, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
[data-ur-tabs-component="content"] {
  display: none; }
  /* line 19, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
  [data-ur-tabs-component="content"]:not([data-ur-state]) {
    display: none; }
  /* line 22, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
  [data-ur-tabs-component="content"][data-ur-state="enabled"] {
    display: block; }

/* line 28, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
[data-ur-state="hide"] {
  display: none !important; }

/* line 33, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
div[data-ur-carousel-component='view_container'] {
  width: 100%;
  overflow-x: hidden; }

/* line 37, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
div[data-ur-carousel-component="scroll_container"] {
  display: block;
  clear: both; }
  /* line 40, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
  div[data-ur-carousel-component="scroll_container"] > * {
    display: inline-block;
    float: left; }

/* line 46, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
a[data-ur-carousel-component="item"] img {
  -webkit-user-drag: none; }

/* line 50, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
[data-ur-carousel-component="dots"] {
  text-align: center;
  margin-bottom: 10px; }

/* line 54, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
[data-ur-carousel-component="dot"] {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background: black;
  display: inline-block;
  margin: 0 1px;
  opacity: 0.8;
  width: 10px;
  height: 10px; }
  /* line 62, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_uranium.scss */
  [data-ur-carousel-component="dot"][data-ur-state="inactive"] {
    opacity: 0.3; }

/* line 35, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/globals/_vertical_rhythmic */
html, body {
  font-size: 13px;
  line-height: 1.84615em; }

/* line 1, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
#mw_header {
  background: black; }
  /* line 3, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
  #mw_header ul {
    list-style-type: none; }
  /* line 9, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
  #mw_header .global-nav {
    color: #737373; }
    /* line 11, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
    #mw_header .global-nav .subcat-title {
      display: block;
      color: #737373;
      border-style: solid;
      padding: 5px;
      background-color: white;
      border-width: 2px; }
  /* line 27, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
  #mw_header .mw_menu {
    font: bold 12px Arial;
    text-decoration: none;
    background-color: #eeeeee;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #cccccc;
    width: 35px;
    height: 16px; }
  /* line 52, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
  #mw_header .logo img {
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px; }
  /* line 66, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
  #mw_header .action-set .link a {
    color: white; }
  /* line 69, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
  #mw_header .action-set {
    color: white;
    display: -webkit-flex;
    justify-content: space-around;
    flex-flow: row wrap;
    flex: 4;
    margin-bottom: 0; }
  /* line 80, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
  #mw_header .action-set li {
    border-style: outset;
    padding: 10px; }

/* line 92, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
.top-nav .selectedCountry {
  color: white;
  font-size: 10px; }
/* line 97, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
.top-nav .icon-shopping-cart {
  color: #336699;
  font-size: 25px; }
/* line 101, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
.top-nav .icon-globe {
  color: #336699;
  font-size: 25px; }
/* line 105, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
.top-nav .icon-gift {
  color: #336699;
  font-size: 25px; }
/* line 109, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
.top-nav .icon-check-sign {
  color: #336699;
  font-size: 25px; }
/* line 113, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
.top-nav .icon-user {
  color: #336699;
  font-size: 25px; }
/* line 119, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
.top-nav .icon-th-list {
  color: #336699;
  font-size: 25px; }
/* line 125, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
.top-nav ul {
  list-style-type: none; }

/* line 131, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
.navigation .subcat-title {
  display: block;
  background-color: white; }

/* line 140, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
.navigation span[data-ur-tabs-component='button'] {
  position: relative;
  display: block;
  background: black;
  color: #737373;
  width: 100%;
  border-bottom-style: ridge;
  padding: 5px;
  font-weight: bold; }
/* line 152, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_header.scss */
.navigation .category-title {
  color: white; }

/* line 1, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_footer.scss */
#mw_footer {
  background: black;
  margin-top: none;
  text-align: center; }
  /* line 3, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_footer.scss */
  #mw_footer ul {
    list-style-type: none; }

/* line 13, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_footer.scss */
.icon-twitter-sign {
  color: #336699;
  font-size: 25px; }

/* line 18, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_footer.scss */
.icon-facebook-sign {
  color: #336699;
  font-size: 25px; }

/* line 23, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/sections/_footer.scss */
.icon-envelope-alt {
  color: #336699;
  font-size: 25px; }

/* line 3, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_home.scss */
.mw_home {
  background: black; }
  /* line 4, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_home.scss */
  .mw_home ul {
    list-style-type: none; }
  /* line 10, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_home.scss */
  .mw_home .navigation span[data-ur-tabs-component='button'] {
    position: relative;
    display: block;
    background: black;
    color: #737373;
    width: 100%;
    border-bottom-style: ridge;
    padding: 5px;
    font-weight: bold; }
  /* line 21, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_home.scss */
  .mw_home .navigation .category-title {
    border-bottom-style: ridge;
    font-weight: bold;
    color: #737373; }
  /* line 26, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_home.scss */
  .mw_home .navigation .subcat-title {
    color: #737373;
    background-color: white;
    display: block;
    padding: 5px;
    border-style: solid;
    border-width: 2px; }

/* line 1, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_accessories_bags.scss */
.mw_accessories {
  background-color: black; }
  /* line 7, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_accessories_bags.scss */
  .mw_accessories ul.breadcrumbs {
    color: white;
    list-style-type: none; }
    /* line 11, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_accessories_bags.scss */
    .mw_accessories ul.breadcrumbs h1.link-a a {
      color: white; }
  /* line 19, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_accessories_bags.scss */
  .mw_accessories div.product-info style {
    style: none;
    opacity: 1; }
  /* line 27, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_accessories_bags.scss */
  .mw_accessories div .view-header clearfix ul {
    list-style-type: none; }
  /* line 32, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_accessories_bags.scss */
  .mw_accessories li.cell product {
    margin: 35px;
    margin-left: auto;
    margin-right: auto; }
  /* line 41, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_accessories_bags.scss */
  .mw_accessories .product-image-altimg {
    display: none; }
  /* line 45, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_accessories_bags.scss */
  .mw_accessories div .product-name {
    color: white; }
  /* line 49, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/_accessories_bags.scss */
  .mw_accessories .product-price {
    color: white; }

/* line 5, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
.mw_item {
  background: black;
  margin-bottom: 0; }
  /* line 9, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
  .mw_item .variant-image img {
    height: 100px;
    width: 100px; }
  /* line 15, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
  .mw_item div.controls ul {
    list-style-type: none; }
  /* line 21, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
  .mw_item div.clear ul {
    list-style-type: none; }
  /* line 26, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
  .mw_item #product-left {
    color: white; }
    /* line 30, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
    .mw_item #product-left img {
      display: block;
      margin-left: auto;
      margin-right: auto; }
  /* line 41, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
  .mw_item #product-right div.product-information {
    color: white; }
    /* line 45, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
    .mw_item #product-right div.product-information ul {
      list-style-type: none; }
    /* line 46, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
    .mw_item #product-right div.product-information li {
      list-style-type: none;
      margin: 10px; }
    /* line 51, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
    .mw_item #product-right div.product-information .product-name {
      color: white; }
  /* line 56, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
  .mw_item #product-right div.product-alt {
    color: white; }
    /* line 57, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
    .mw_item #product-right div.product-alt h3 {
      text-align: center; }
    /* line 60, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
    .mw_item #product-right div.product-alt ul {
      list-style-type: none; }
    /* line 63, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
    .mw_item #product-right div.product-alt img.cross-img {
      display: block;
      margin-left: auto;
      margin-right: auto; }
  /* line 70, /Users/peterbryanr/Desktop/Moovweb Files/demos/wang/assets/stylesheets/pages/rockiepalegold.scss */
  .mw_item #product-right #product_options {
    color: white;
    border-style: solid;
    border-width: 4px;
    border-color: #737373; }
